In [1]:
import pandas as pd
from collections import Counter
import time
# from fruithut.fruithut import *
# from mushroom.mushroom import *
from foodmart.foodmart import *

        Tid                                 Items
0        T1                       [214, 763, 260]
1        T2                  [778, 195, 385, 961]
2        T3                   [12, 934, 871, 328]
3        T4                       [715, 359, 282]
4        T5  [586, 16, 898, 1368, 785, 975, 1551]
...     ...                                   ...
4136  T4137    [790, 114, 584, 2, 191, 767, 1011]
4137  T4138   [904, 161, 831, 1208, 78, 1081, 45]
4138  T4139                       [548, 498, 648]
4139  T4140                      [20, 90, 706, 3]
4140  T4141                            [107, 656]

[4141 rows x 2 columns]

In [2]:
# sample
# data = {
#     'Tid': ['T1', 'T2', 'T3', 'T4', 'T5', 'T6'],
#     'Items': [['a', 'c', 'd'],
#               ['a', 'b', 'd'],
#               ['b', 'c', 'd', 'e'],
#               ['a', 'd'],
#               ['c', 'd', 'e'],
#               ['a', 'b', 'c', 'd', 'e']]
# }
# df = pd.DataFrame(data)

# data = {
#     'Tid': ['T1', 'T2', 'T3', 'T4', 'T5', 'T6'],
#     'Items': [['apple', 'cherry', 'durian'],
#               ['apple', 'banana', 'durian'],
#               ['banana', 'cherry', 'durian', 'elderberry'],
#               ['apple', 'durian'],
#               ['cherry', 'durian', 'elderberry'],
#               ['apple', 'banana', 'cherry', 'durian', 'elderberry']]
# }

# df = pd.DataFrame(data)
df['Item_Length'] = df['Items'].apply(lambda items: len(items))
len_df = len(df)
df

        Tid                                 Items  Item_Length
0        T1                       [214, 763, 260]            3
1        T2                  [778, 195, 385, 961]            4
2        T3                   [12, 934, 871, 328]            4
3        T4                       [715, 359, 282]            3
4        T5  [586, 16, 898, 1368, 785, 975, 1551]            7
...     ...                                   ...          ...
4136  T4137    [790, 114, 584, 2, 191, 767, 1011]            7
4137  T4138   [904, 161, 831, 1208, 78, 1081, 45]            7
4138  T4139                       [548, 498, 648]            3
4139  T4140                      [20, 90, 706, 3]            4
4140  T4141                            [107, 656]            2

[4141 rows x 3 columns]

In [3]:
unique_items = sorted(df['Items'].explode().unique()) # get unique item => save to list
unique_items

['1',
 '10',
 '100',
 '1000',
 '1001',
 '1002',
 '1003',
 '1004',
 '1005',
 '1006',
 '1007',
 '1008',
 '1009',
 '101',
 '1010',
 '1011',
 '1012',
 '1013',
 '1014',
 '1015',
 '1016',
 '1017',
 '1018',
 '1019',
 '102',
 '1020',
 '1021',
 '1022',
 '1023',
 '1024',
 '1025',
 '1026',
 '1027',
 '1028',
 '1029',
 '103',
 '1030',
 '1031',
 '1032',
 '1033',
 '1034',
 '1035',
 '1036',
 '1037',
 '1038',
 '1039',
 '104',
 '1040',
 '1041',
 '1042',
 '1043',
 '1044',
 '1045',
 '1046',
 '1047',
 '1048',
 '1049',
 '105',
 '1050',
 '1051',
 '1052',
 '1053',
 '1054',
 '1055',
 '1056',
 '1057',
 '1058',
 '1059',
 '106',
 '1060',
 '1061',
 '1062',
 '1063',
 '1064',
 '1065',
 '1066',
 '1067',
 '1068',
 '1069',
 '107',
 '1070',
 '1071',
 '1072',
 '1073',
 '1074',
 '1075',
 '1076',
 '1077',
 '1078',
 '1079',
 '108',
 '1080',
 '1081',
 '1082',
 '1083',
 '1084',
 '1085',
 '1086',
 '1087',
 '1088',
 '1089',
 '109',
 '1090',
 '1091',
 '1092',
 '1093',
 '1094',
 '1095',
 '1096',
 '1097',
 '1098',
 '1099',
 '11',
 '110',
 '1100',
 '1101',
 '1102',
 '1103',
 '1104',
 '1105',
 '1106',
 '1107',
 '1108',
 '1109',
 '111',
 '1110',
 '1111',
 '1112',
 '1113',
 '1114',
 '1115',
 '1116',
 '1117',
 '1118',
 '1119',
 '112',
 '1120',
 '1121',
 '1122',
 '1123',
 '1124',
 '1125',
 '1126',
 '1127',
 '1128',
 '1129',
 '113',
 '1130',
 '1131',
 '1132',
 '1133',
 '1134',
 '1135',
 '1136',
 '1137',
 '1138',
 '1139',
 '114',
 '1140',
 '1141',
 '1142',
 '1143',
 '1144',
 '1145',
 '1146',
 '1147',
 '1148',
 '1149',
 '115',
 '1150',
 '1151',
 '1152',
 '1153',
 '1154',
 '1155',
 '1156',
 '1157',
 '1158',
 '1159',
 '116',
 '1160',
 '1161',
 '1162',
 '1163',
 '1164',
 '1165',
 '1166',
 '1167',
 '1168',
 '1169',
 '117',
 '1170',
 '1171',
 '1172',
 '1173',
 '1174',
 '1175',
 '1176',
 '1177',
 '1178',
 '1179',
 '118',
 '1180',
 '1181',
 '1182',
 '1183',
 '1184',
 '1185',
 '1186',
 '1187',
 '1188',
 '1189',
 '119',
 '1190',
 '1191',
 '1192',
 '1193',
 '1194',
 '1195',
 '1196',
 '1197',
 '1198',
 '1199',
 '12',
 '120',
 '1200',
 '1201',
 '1202',
 '1203',
 '1204',
 '1205',
 '1206',
 '1207',
 '1208',
 '1209',
 '121',
 '1210',
 '1211',
 '1212',
 '1213',
 '1214',
 '1215',
 '1216',
 '1217',
 '1218',
 '1219',
 '122',
 '1220',
 '1221',
 '1222',
 '1223',
 '1224',
 '1225',
 '1226',
 '1227',
 '1228',
 '1229',
 '123',
 '1230',
 '1231',
 '1232',
 '1233',
 '1234',
 '1235',
 '1236',
 '1237',
 '1238',
 '1239',
 '124',
 '1240',
 '1241',
 '1242',
 '1243',
 '1244',
 '1245',
 '1246',
 '1247',
 '1248',
 '1249',
 '125',
 '1250',
 '1251',
 '1252',
 '1253',
 '1254',
 '1255',
 '1256',
 '1257',
 '1258',
 '1259',
 '126',
 '1260',
 '1261',
 '1262',
 '1263',
 '1264',
 '1265',
 '1266',
 '1267',
 '1268',
 '1269',
 '127',
 '1270',
 '1271',
 '1272',
 '1273',
 '1274',
 '1275',
 '1276',
 '1277',
 '1278',
 '1279',
 '128',
 '1280',
 '1281',
 '1282',
 '1283',
 '1284',
 '1285',
 '1286',
 '1287',
 '1288',
 '1289',
 '129',
 '1290',
 '1291',
 '1292',
 '1293',
 '1294',
 '1295',
 '1296',
 '1297',
 '1298',
 '1299',
 '13',
 '130',
 '1300',
 '1301',
 '1302',
 '1303',
 '1304',
 '1305',
 '1306',
 '1307',
 '1308',
 '1309',
 '131',
 '1310',
 '1311',
 '1312',
 '1313',
 '1314',
 '1315',
 '1316',
 '1317',
 '1318',
 '1319',
 '132',
 '1320',
 '1321',
 '1322',
 '1323',
 '1324',
 '1325',
 '1326',
 '1327',
 '1328',
 '1329',
 '133',
 '1330',
 '1331',
 '1332',
 '1333',
 '1334',
 '1335',
 '1336',
 '1337',
 '1338',
 '1339',
 '134',
 '1340',
 '1341',
 '1342',
 '1343',
 '1344',
 '1345',
 '1346',
 '1347',
 '1348',
 '1349',
 '135',
 '1350',
 '1351',
 '1352',
 '1353',
 '1354',
 '1355',
 '1356',
 '1357',
 '1358',
 '1359',
 '136',
 '1360',
 '1361',
 '1362',
 '1363',
 '1364',
 '1365',
 '1366',
 '1367',
 '1368',
 '1369',
 '137',
 '1370',
 '1371',
 '1372',
 '1373',
 '1374',
 '1375',
 '1376',
 '1377',
 '1378',
 '1379',
 '138',
 '1380',
 '1381',
 '1382',
 '1383',
 '1384',
 '1385',
 '1386',
 '1387',
 '1388',
 '1389',
 '139',
 '1390',
 '1391',
 '1392',
 '1393',
 '1394',
 '1395',
 '1396',
 '1397',
 '1398',
 '1399',
 '14',
 '140',
 '1400',
 '1401',
 '1402',
 '1403',
 '1404',
 '1405',
 '1406',
 '1407',
 '1408',
 '1409',
 '141',
 '1410',
 '1411',
 '1412',
 '1413',
 '1414',
 '1415',
 '1416',
 '1417',
 '1418',
 '1419',
 '142',
 '1420',
 '1421',
 '1422',
 '1423',
 '1424',
 '1425',
 '1426',
 '1427',
 '1428',
 '1429',
 '143',
 '1430',
 '1431',
 '1432',
 '1433',
 '1434',
 '1435',
 '1436',
 '1437',
 '1438',
 '1439',
 '144',
 '1440',
 '1441',
 '1442',
 '1443',
 '1444',
 '1445',
 '1446',
 '1447',
 '1448',
 '1449',
 '145',
 '1450',
 '1451',
 '1452',
 '1453',
 '1454',
 '1455',
 '1456',
 '1457',
 '1458',
 '1459',
 '146',
 '1460',
 '1461',
 '1462',
 '1463',
 '1464',
 '1465',
 '1466',
 '1467',
 '1468',
 '1469',
 '147',
 '1470',
 '1471',
 '1472',
 '1473',
 '1474',
 '1475',
 '1476',
 '1477',
 '1478',
 '1479',
 '148',
 '1480',
 '1481',
 '1482',
 '1483',
 '1484',
 '1485',
 '1486',
 '1487',
 '1488',
 '1489',
 '149',
 '1490',
 '1491',
 '1492',
 '1493',
 '1494',
 '1495',
 '1496',
 '1497',
 '1498',
 '1499',
 '15',
 '150',
 '1500',
 '1501',
 '1502',
 '1503',
 '1504',
 '1505',
 '1506',
 '1507',
 '1508',
 '1509',
 '151',
 '1510',
 '1511',
 '1512',
 '1513',
 '1514',
 '1515',
 '1516',
 '1517',
 '1518',
 '1519',
 '152',
 '1520',
 '1521',
 '1522',
 '1523',
 '1524',
 '1525',
 '1526',
 '1527',
 '1528',
 '1529',
 '153',
 '1530',
 '1531',
 '1532',
 '1533',
 '1534',
 '1535',
 '1536',
 '1537',
 '1538',
 '1539',
 '154',
 '1540',
 '1541',
 '1542',
 '1543',
 '1544',
 '1545',
 '1546',
 '1547',
 '1548',
 '1549',
 '155',
 '1550',
 '1551',
 '1552',
 '1553',
 '1554',
 '1555',
 '1556',
 '1557',
 '1558',
 '1559',
 '156',
 '157',
 '158',
 '159',
 '16',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '17',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '18',
 '180',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '19',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '2',
 '20',
 '200',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '21',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '22',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '23',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '24',
 '240',
 '241',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '25',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '26',
 '260',
 '261',
 '262',
 '263',
 '264',
 '265',
 '266',
 '267',
 '268',
 '269',
 '27',
 '270',
 '271',
 '272',
 '273',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '28',
 '280',
 '281',
 '282',
 '283',
 '284',
 '285',
 '286',
 '287',
 '288',
 '289',
 '29',
 '290',
 '291',
 '292',
 '293',
 '294',
 '295',
 '296',
 '297',
 '298',
 '299',
 '3',
 '30',
 '300',
 '301',
 '302',
 '303',
 '304',
 '305',
 '306',
 '307',
 '308',
 '309',
 '31',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '319',
 '32',
 '320',
 '321',
 '322',
 '323',
 '324',
 '325',
 '326',
 '327',
 '328',
 '329',
 '33',
 '330',
 '331',
 '332',
 '333',
 '334',
 '335',
 '336',
 '337',
 '338',
 '339',
 '34',
 '340',
 '341',
 '342',
 '343',
 '344',
 '345',
 '346',
 '347',
 '348',
 '349',
 '35',
 '350',
 '351',
 '352',
 '353',
 '354',
 '355',
 '356',
 '357',
 '358',
 '359',
 '36',
 '360',
 '361',
 '362',
 '363',
 '364',
 '365',
 '366',
 '367',
 '368',
 '369',
 '37',
 '370',
 '371',
 '372',
 '373',
 '374',
 '375',
 '376',
 '377',
 '378',
 '379',
 '38',
 '380',
 '381',
 '382',
 '383',
 '384',
 '385',
 '386',
 '387',
 '388',
 '389',
 '39',
 '390',
 '391',
 '392',
 '393',
 '394',
 '395',
 '396',
 '397',
 '398',
 '399',
 '4',
 '40',
 '400',
 '401',
 '402',
 '403',
 '404',
 '405',
 '406',
 '407',
 '408',
 '409',
 '41',
 '410',
 '411',
 '412',
 '413',
 '414',
 '415',
 '416',
 '417',
 '418',
 '419',
 '42',
 '420',
 '421',
 '422',
 '423',
 '424',
 '425',
 '426',
 '427',
 '428',
 '429',
 '43',
 '430',
 '431',
 '432',
 '433',
 '434',
 '435',
 '436',
 '437',
 '438',
 '439',
 '44',
 '440',
 '441',
 '442',
 '443',
 '444',
 '445',
 '446',
 '447',
 '448',
 '449',
 '45',
 '450',
 '451',
 '452',
 '453',
 '454',
 '455',
 '456',
 '457',
 '458',
 '459',
 '46',
 '460',
 '461',
 '462',
 '463',
 '464',
 '465',
 '466',
 '467',
 '468',
 '469',
 '47',
 '470',
 '471',
 '472',
 '473',
 '474',
 '475',
 '476',
 '477',
 '478',
 '479',
 '48',
 '480',
 '481',
 '482',
 '483',
 '484',
 '485',
 '486',
 '487',
 '488',
 '489',
 '49',
 '490',
 '491',
 '492',
 '493',
 '494',
 '495',
 ...]

In [4]:
length_transaction = df["Items"].apply(len)
if length_transaction.nunique() == 1:
    hastheSameLengh = True
else:
    hastheSameLengh = False

hastheSameLengh

False

In [5]:
length_transaction = length_transaction.to_list()
length_transaction

[3,
 4,
 4,
 3,
 7,
 3,
 7,
 2,
 2,
 5,
 2,
 7,
 2,
 8,
 3,
 7,
 8,
 4,
 3,
 4,
 4,
 4,
 2,
 3,
 5,
 8,
 3,
 4,
 6,
 7,
 2,
 2,
 5,
 4,
 5,
 5,
 3,
 8,
 4,
 3,
 6,
 6,
 6,
 7,
 6,
 4,
 5,
 6,
 7,
 2,
 2,
 4,
 5,
 5,
 2,
 1,
 7,
 8,
 4,
 2,
 4,
 8,
 5,
 3,
 7,
 5,
 8,
 4,
 1,
 7,
 4,
 3,
 5,
 7,
 6,
 6,
 1,
 3,
 5,
 8,
 7,
 6,
 6,
 2,
 8,
 3,
 4,
 4,
 2,
 3,
 3,
 2,
 6,
 2,
 8,
 5,
 2,
 7,
 2,
 6,
 2,
 2,
 1,
 5,
 7,
 6,
 7,
 5,
 8,
 5,
 6,
 2,
 6,
 4,
 5,
 6,
 1,
 4,
 7,
 4,
 3,
 7,
 4,
 4,
 3,
 1,
 4,
 6,
 6,
 7,
 7,
 7,
 5,
 6,
 2,
 7,
 5,
 8,
 5,
 6,
 2,
 6,
 4,
 5,
 6,
 6,
 7,
 6,
 1,
 4,
 5,
 2,
 7,
 4,
 4,
 4,
 6,
 5,
 4,
 5,
 3,
 7,
 5,
 1,
 8,
 5,
 3,
 7,
 4,
 4,
 6,
 4,
 2,
 1,
 4,
 7,
 6,
 2,
 1,
 6,
 7,
 3,
 3,
 2,
 4,
 6,
 4,
 2,
 6,
 3,
 6,
 7,
 7,
 7,
 3,
 1,
 4,
 2,
 2,
 4,
 2,
 4,
 5,
 2,
 4,
 3,
 5,
 4,
 5,
 8,
 5,
 1,
 7,
 3,
 6,
 2,
 6,
 2,
 6,
 4,
 4,
 6,
 4,
 2,
 8,
 5,
 2,
 7,
 8,
 6,
 4,
 1,
 3,
 3,
 5,
 2,
 4,
 8,
 5,
 3,
 7,
 5,
 5,
 7,
 4,
 4,
 6,
 2,
 2,
 5,
 2,
 5,
 1,
 5,
 8,
 4,
 4,
 2,
 2,
 3,
 8,
 1,
 3,
 4,
 6,
 2,
 4,
 8,
 6,
 6,
 3,
 4,
 6,
 4,
 6,
 7,
 8,
 8,
 7,
 4,
 8,
 3,
 5,
 7,
 6,
 1,
 7,
 5,
 1,
 7,
 8,
 3,
 2,
 4,
 8,
 6,
 6,
 7,
 4,
 7,
 1,
 6,
 3,
 5,
 5,
 4,
 7,
 7,
 7,
 3,
 3,
 5,
 5,
 3,
 4,
 6,
 6,
 7,
 1,
 4,
 7,
 2,
 7,
 6,
 3,
 2,
 5,
 6,
 2,
 6,
 4,
 5,
 1,
 2,
 5,
 1,
 7,
 7,
 1,
 6,
 1,
 2,
 4,
 1,
 1,
 7,
 2,
 7,
 2,
 6,
 2,
 3,
 5,
 1,
 1,
 4,
 2,
 5,
 6,
 6,
 2,
 4,
 5,
 6,
 4,
 2,
 6,
 2,
 1,
 2,
 7,
 2,
 10,
 3,
 2,
 7,
 2,
 5,
 8,
 1,
 3,
 2,
 5,
 5,
 7,
 1,
 7,
 6,
 4,
 8,
 5,
 3,
 7,
 7,
 8,
 3,
 1,
 2,
 1,
 3,
 2,
 6,
 4,
 6,
 2,
 1,
 3,
 2,
 6,
 4,
 8,
 3,
 2,
 7,
 1,
 1,
 3,
 7,
 4,
 1,
 1,
 1,
 4,
 4,
 3,
 5,
 4,
 9,
 6,
 5,
 3,
 5,
 7,
 8,
 2,
 4,
 8,
 7,
 3,
 7,
 1,
 6,
 3,
 3,
 4,
 1,
 6,
 5,
 6,
 2,
 7,
 2,
 5,
 4,
 2,
 3,
 7,
 4,
 5,
 4,
 4,
 2,
 7,
 4,
 1,
 7,
 3,
 2,
 4,
 6,
 8,
 4,
 7,
 1,
 7,
 6,
 4,
 8,
 5,
 3,
 7,
 6,
 6,
 7,
 2,
 4,
 4,
 3,
 5,
 6,
 3,
 3,
 2,
 1,
 4,
 6,
 5,
 5,
 4,
 8,
 5,
 2,
 3,
 1,
 6,
 7,
 5,
 3,
 4,
 4,
 5,
 5,
 5,
 6,
 4,
 8,
 9,
 5,
 8,
 7,
 7,
 6,
 4,
 2,
 4,
 4,
 6,
 4,
 8,
 3,
 2,
 6,
 7,
 7,
 6,
 7,
 7,
 7,
 6,
 4,
 2,
 3,
 8,
 1,
 5,
 3,
 3,
 1,
 6,
 4,
 3,
 1,
 7,
 3,
 7,
 6,
 1,
 6,
 3,
 3,
 7,
 8,
 4,
 7,
 3,
 6,
 7,
 8,
 4,
 2,
 1,
 1,
 8,
 7,
 7,
 2,
 1,
 7,
 8,
 3,
 1,
 8,
 8,
 5,
 3,
 4,
 4,
 4,
 6,
 4,
 2,
 1,
 2,
 7,
 7,
 7,
 2,
 1,
 7,
 8,
 4,
 2,
 5,
 7,
 1,
 5,
 4,
 8,
 7,
 7,
 5,
 8,
 6,
 5,
 5,
 3,
 2,
 2,
 6,
 4,
 4,
 6,
 2,
 4,
 4,
 3,
 7,
 4,
 6,
 2,
 1,
 6,
 2,
 2,
 5,
 8,
 5,
 6,
 7,
 2,
 8,
 7,
 2,
 5,
 1,
 6,
 7,
 6,
 4,
 6,
 4,
 2,
 4,
 3,
 6,
 6,
 2,
 2,
 5,
 5,
 8,
 5,
 4,
 4,
 5,
 2,
 7,
 7,
 2,
 2,
 5,
 6,
 4,
 5,
 5,
 5,
 7,
 6,
 3,
 2,
 5,
 7,
 3,
 6,
 4,
 5,
 8,
 2,
 8,
 6,
 6,
 3,
 5,
 5,
 2,
 8,
 6,
 8,
 5,
 4,
 4,
 5,
 2,
 2,
 3,
 1,
 5,
 4,
 5,
 7,
 6,
 4,
 1,
 3,
 3,
 5,
 2,
 4,
 7,
 8,
 5,
 4,
 3,
 3,
 7,
 8,
 6,
 7,
 6,
 4,
 6,
 2,
 6,
 2,
 8,
 5,
 2,
 7,
 2,
 5,
 7,
 6,
 2,
 1,
 6,
 7,
 3,
 3,
 2,
 4,
 7,
 3,
 2,
 6,
 4,
 7,
 7,
 3,
 7,
 2,
 6,
 4,
 1,
 4,
 7,
 6,
 2,
 4,
 6,
 4,
 7,
 3,
 7,
 2,
 3,
 5,
 2,
 7,
 8,
 8,
 6,
 8,
 5,
 6,
 7,
 2,
 1,
 6,
 5,
 5,
 1,
 7,
 3,
 6,
 3,
 1,
 1,
 5,
 4,
 2,
 4,
 6,
 3,
 1,
 7,
 4,
 6,
 5,
 2,
 4,
 7,
 7,
 3,
 5,
 3,
 6,
 7,
 7,
 6,
 6,
 6,
 7,
 2,
 8,
 6,
 4,
 3,
 7,
 7,
 4,
 2,
 7,
 1,
 6,
 8,
 8,
 3,
 5,
 2,
 2,
 7,
 4,
 7,
 1,
 5,
 3,
 7,
 6,
 6,
 1,
 5,
 6,
 1,
 4,
 2,
 2,
 7,
 1,
 4,
 1,
 5,
 3,
 4,
 6,
 2,
 3,
 5,
 3,
 7,
 4,
 6,
 2,
 1,
 6,
 1,
 5,
 6,
 1,
 4,
 2,
 6,
 2,
 1,
 2,
 7,
 2,
 5,
 2,
 5,
 8,
 3,
 3,
 6,
 3,
 8,
 3,
 5,
 7,
 4,
 3,
 2,
 5,
 2,
 2,
 6,
 4,
 5,
 4,
 4,
 1,
 7,
 7,
 1,
 6,
 1,
 2,
 4,
 2,
 8,
 7,
 3,
 7,
 1,
 6,
 3,
 3,
 5,
 1,
 8,
 7,
 7,
 4,
 7,
 4,
 3,
 5,
 4,
 4,
 5,
 6,
 2,
 1,
 4,
 2,
 3,
 4,
 7,
 2,
 7,
 5,
 1,
 6,
 4,
 8,
 5,
 3,
 7,
 5,
 6,
 3,
 4,
 6,
 7,
 6,
 3,
 4,
 1,
 2,
 7,
 5,
 3,
 4,
 3,
 4,
 3,
 6,
 7,
 3,
 3,
 2,
 1,
 6,
 4,
 3,
 2,
 4,
 5,
 5,
 2,
 1,
 6,
 5,
 5,
 3,
 2,
 4,
 5,
 2,
 5,
 8,
 ...]

In [6]:
# calculate stset: {'a': [T1, T2, T4, T6]} - list Tid containing unique item
def cal_stset(df):
    stset = {} 
    for item in unique_items:
        tid_list = df[df['Items'].apply(lambda items: item in items)]['Tid'].tolist() # create column Items with items in unique item
        tid_lengths = [len(df[df['Tid'] == tid]['Items'].iloc[0]) for tid in tid_list if item in df[df['Tid'] == tid]['Items'].iloc[0]]
        stset[item] = {"StSet": tid_list, "Length_transaction": tid_lengths} # add value with item_key

    df_stset = pd.DataFrame.from_dict(stset, orient = 'index').reset_index()
    df_stset.columns = ["Items", "StSet", "Length_transaction"]
    df_stset['Items'] = df_stset['Items'].apply(lambda x: [x]) 
    return df_stset

In [7]:
# calculate support - count number of Tid containing unique item
def cal_support(df_stset):
    df_stset['Support'] = df_stset['StSet'].apply(len)
    return df_stset

In [8]:
df_stset = cal_stset(df)
df_stset

,Items,StSet,Length_transaction
0,[1],"[T1228, T2469, T2690, T2830, T3727]","[7, 8, 8, 7, 8]"
1,[10],"[T584, T659, T1336, T1342, T1698, T2183, T2346...","[5, 5, 7, 7, 6, 5, 6, 6, 6, 5, 6, 6]"
2,[100],"[T488, T1316, T1424, T1863, T2320, T2535, T258...","[3, 5, 6, 4, 7, 5, 6, 6, 5, 3, 7, 8, 7]"
3,[1000],"[T561, T1057, T1737, T1892, T2210, T2911]","[7, 8, 6, 6, 3, 7]"
4,[1001],"[T142, T279, T558, T684, T829, T911, T1389, T1...","[6, 7, 6, 6, 7, 7, 4, 6, 3, 6, 5, 6, 4, 4, 6, ..."
...,...,...,...
1554,[995],"[T131, T553, T636, T701, T1183, T1546, T1595, ...","[7, 7, 8, 4, 7, 5, 4, 3]"
1555,[996],"[T170, T952, T1273, T1737, T2199, T2264, T2593...","[4, 6, 6, 6, 7, 4, 3, 5, 4, 8]"
1556,[997],"[T113, T334, T419, T578, T1081, T1306, T2093, ...","[6, 2, 4, 7, 7, 6, 8, 3, 8, 6]"
1557,[998],"[T203, T221, T297, T1311, T1962, T2047, T2125,...","[5, 4, 6, 6, 8, 4, 3, 6, 4, 6]"
1558,[999],"[T83, T388, T1032, T1143, T1820, T2452, T2874,...","[6, 6, 6, 6, 7, 8, 5, 4, 7, 7, 4, 2, 7]"

In [9]:
df_stset = cal_support(df_stset)
df_stset

,Items,StSet,Length_transaction,Support
0,[1],"[T1228, T2469, T2690, T2830, T3727]","[7, 8, 8, 7, 8]",5
1,[10],"[T584, T659, T1336, T1342, T1698, T2183, T2346...","[5, 5, 7, 7, 6, 5, 6, 6, 6, 5, 6, 6]",12
2,[100],"[T488, T1316, T1424, T1863, T2320, T2535, T258...","[3, 5, 6, 4, 7, 5, 6, 6, 5, 3, 7, 8, 7]",13
3,[1000],"[T561, T1057, T1737, T1892, T2210, T2911]","[7, 8, 6, 6, 3, 7]",6
4,[1001],"[T142, T279, T558, T684, T829, T911, T1389, T1...","[6, 7, 6, 6, 7, 7, 4, 6, 3, 6, 5, 6, 4, 4, 6, ...",17
...,...,...,...,...
1554,[995],"[T131, T553, T636, T701, T1183, T1546, T1595, ...","[7, 7, 8, 4, 7, 5, 4, 3]",8
1555,[996],"[T170, T952, T1273, T1737, T2199, T2264, T2593...","[4, 6, 6, 6, 7, 4, 3, 5, 4, 8]",10
1556,[997],"[T113, T334, T419, T578, T1081, T1306, T2093, ...","[6, 2, 4, 7, 7, 6, 8, 3, 8, 6]",10
1557,[998],"[T203, T221, T297, T1311, T1962, T2047, T2125,...","[5, 4, 6, 6, 8, 4, 3, 6, 4, 6]",10
1558,[999],"[T83, T388, T1032, T1143, T1820, T2452, T2874,...","[6, 6, 6, 6, 7, 8, 5, 4, 7, 7, 4, 2, 7]",13

In [10]:
# ex: 'a': {'l(a)': [2, 3, 5], 'n(a)': [1, 2, 1]}
def df_prepare_UBO(df_stset):
    l_item_list = []
    n_item_list = []
    for index, row in df_stset.iterrows():
        item = row['Items']
        length_transaction = row['Length_transaction']

        l_item = sorted(set(length_transaction)) # get unique len(Tid) => sort ascending

        counter = Counter(length_transaction)
        n_item = [counter[i] for i in l_item] # count unique len(Tid) in occupancy_list => same index with l_item
        
        l_item_list.append(l_item)
        n_item_list.append(n_item)
    
    df_stset = df_stset.assign(l_item=l_item_list, n_item=n_item_list)
    return df_stset

In [11]:
# calculate occupancy - O(P) = ∑ T ∈ STSet(P) |P|/|T|
# |P|: len(unique item) itemset {a} =>1
# |T|: len(Tid) 1/3 + 1/3 + 1/2 + 1/5 
def cal_occupancy(df_stset):
    occupancy_data = []
    for index, row in df_stset.iterrows():
        item = row['Items']
        length_transaction = row['Length_transaction']
        total = 0
        for length in length_transaction:
            total += len(item) / length
        occupancy_data.append({'Items': item, 'Occupancy': round(total, 2)})
    
    df_occupancy = pd.DataFrame(occupancy_data)
    df_stset['Occupancy'] = df_occupancy['Occupancy']
    return df_stset

In [12]:
df_stset = cal_occupancy(df_stset)
df_stset

,Items,StSet,Length_transaction,Support,Occupancy
0,[1],"[T1228, T2469, T2690, T2830, T3727]","[7, 8, 8, 7, 8]",5,0.66
1,[10],"[T584, T659, T1336, T1342, T1698, T2183, T2346...","[5, 5, 7, 7, 6, 5, 6, 6, 6, 5, 6, 6]",12,2.09
2,[100],"[T488, T1316, T1424, T1863, T2320, T2535, T258...","[3, 5, 6, 4, 7, 5, 6, 6, 5, 3, 7, 8, 7]",13,2.57
3,[1000],"[T561, T1057, T1737, T1892, T2210, T2911]","[7, 8, 6, 6, 3, 7]",6,1.08
4,[1001],"[T142, T279, T558, T684, T829, T911, T1389, T1...","[6, 7, 6, 6, 7, 7, 4, 6, 3, 6, 5, 6, 4, 4, 6, ...",17,3.21
...,...,...,...,...,...
1554,[995],"[T131, T553, T636, T701, T1183, T1546, T1595, ...","[7, 7, 8, 4, 7, 5, 4, 3]",8,1.59
1555,[996],"[T170, T952, T1273, T1737, T2199, T2264, T2593...","[4, 6, 6, 6, 7, 4, 3, 5, 4, 8]",10,2.05
1556,[997],"[T113, T334, T419, T578, T1081, T1306, T2093, ...","[6, 2, 4, 7, 7, 6, 8, 3, 8, 6]",10,2.12
1557,[998],"[T203, T221, T297, T1311, T1962, T2047, T2125,...","[5, 4, 6, 6, 8, 4, 3, 6, 4, 6]",10,2.07
1558,[999],"[T83, T388, T1032, T1143, T1820, T2452, T2874,...","[6, 6, 6, 6, 7, 8, 5, 4, 7, 7, 4, 2, 7]",13,2.56

In [13]:
# calculate according to the formula: ni x lx/li
def cal_ubo(l, n):
    total = 0
    for i in range(len(l)):
        total += n[i] * l[0] / l[i]
    return round(total, 2)

In [14]:
# summarize: ∑ni x lx/li => save to list 
def ubo_final(length, number_transaction):
    ubo = []
    for i in range(len(length)): 
        # ex: len = [2,3,5], num_trans = [1,2,1]
        # i = 0 => len = [2,3,5], num_trans = [1,2,1]
        # i = 1 => len = [3,5], num_trans = [2,1]
        # ...
        ubo.append(cal_ubo(length[i:], number_transaction[i:])) # save result cal_ubo for each i => get maxUBO
    return ubo

In [15]:
# get max from summarize => save max value in UBO by key
def calculate_maxUBO(df_UBO):
    df_UBO['List_UBO'] = None # create new column
    df_UBO['Max_UBO'] = None # create new column
    for index, row in df_UBO.iterrows():
        length = row['l_item'] #get list of len(Tid) containing unique item
        number_transaction = row['n_item'] # count unique len(Tid) in occupancy_list
        
        ubo = ubo_final(length, number_transaction) # get list of UBO by i. ex: [2.73, 2.6, 1.0]
        max_ubo = max(ubo) # max list of UBO
        
        df_UBO.at[index, 'List_UBO'] = ubo # save result in df
        df_UBO.at[index, 'Max_UBO'] = max_ubo # save result in df
        
    return df_UBO

In [16]:
# UBO calculation methods: main function
def cal_UBO(df_stset): 
    df_stset = df_prepare_UBO(df_stset)    
    df_stset = calculate_maxUBO(df_stset)
    return df_stset

In [17]:
df_stset = cal_UBO(df_stset)
df_stset

,Items,StSet,Length_transaction,Support,Occupancy,l_item,n_item,List_UBO,Max_UBO
0,[1],"[T1228, T2469, T2690, T2830, T3727]","[7, 8, 8, 7, 8]",5,0.66,"[7, 8]","[2, 3]","[4.62, 3.0]",4.62
1,[10],"[T584, T659, T1336, T1342, T1698, T2183, T2346...","[5, 5, 7, 7, 6, 5, 6, 6, 6, 5, 6, 6]",12,2.09,"[5, 6, 7]","[4, 6, 2]","[10.43, 7.71, 2.0]",10.43
2,[100],"[T488, T1316, T1424, T1863, T2320, T2535, T258...","[3, 5, 6, 4, 7, 5, 6, 6, 5, 3, 7, 8, 7]",13,2.57,"[3, 4, 5, 6, 7, 8]","[2, 1, 3, 3, 3, 1]","[7.71, 7.61, 8.27, 6.32, 3.88, 1.0]",8.27
3,[1000],"[T561, T1057, T1737, T1892, T2210, T2911]","[7, 8, 6, 6, 3, 7]",6,1.08,"[3, 6, 7, 8]","[1, 2, 2, 1]","[3.23, 4.46, 2.88, 1.0]",4.46
4,[1001],"[T142, T279, T558, T684, T829, T911, T1389, T1...","[6, 7, 6, 6, 7, 7, 4, 6, 3, 6, 5, 6, 4, 4, 6, ...",17,3.21,"[3, 4, 5, 6, 7]","[1, 3, 1, 9, 3]","[9.64, 11.51, 10.64, 11.57, 3.0]",11.57
...,...,...,...,...,...,...,...,...,...
1554,[995],"[T131, T553, T636, T701, T1183, T1546, T1595, ...","[7, 7, 8, 4, 7, 5, 4, 3]",8,1.59,"[3, 4, 5, 7, 8]","[1, 2, 1, 3, 1]","[4.76, 5.01, 3.77, 3.88, 1.0]",5.01
1555,[996],"[T170, T952, T1273, T1737, T2199, T2264, T2593...","[4, 6, 6, 6, 7, 4, 3, 5, 4, 8]",10,2.05,"[3, 4, 5, 6, 7, 8]","[1, 3, 1, 3, 1, 1]","[6.15, 6.87, 4.84, 4.61, 1.88, 1.0]",6.87
1556,[997],"[T113, T334, T419, T578, T1081, T1306, T2093, ...","[6, 2, 4, 7, 7, 6, 8, 3, 8, 6]",10,2.12,"[2, 3, 4, 6, 7, 8]","[1, 1, 1, 3, 2, 2]","[4.24, 4.86, 5.14, 6.21, 3.75, 2.0]",6.21
1557,[998],"[T203, T221, T297, T1311, T1962, T2047, T2125,...","[5, 4, 6, 6, 8, 4, 3, 6, 4, 6]",10,2.07,"[3, 4, 5, 6, 8]","[1, 3, 1, 4, 1]","[6.22, 6.97, 4.96, 4.75, 1.0]",6.97
1558,[999],"[T83, T388, T1032, T1143, T1820, T2452, T2874,...","[6, 6, 6, 6, 7, 8, 5, 4, 7, 7, 4, 2, 7]",13,2.56,"[2, 4, 5, 6, 7, 8]","[1, 2, 1, 4, 4, 1]","[5.13, 8.25, 7.82, 8.18, 4.88, 1.0]",8.25

In [18]:
def mine_hoi_1_itemset(threshold, hastheSameLengh, df_stset):
    C1 = []
    HOI1 = []
    for index, row in df_stset.iterrows():
        item = row['Items'] # 1-itemset in row
        support = row['Support'] # support of 1-itemset
        occupancy = row['Occupancy'] # occuopancy of 1-itemset
        max_ubo = row['Max_UBO'] # max_ubo of 1-itemset
        
        if support >= threshold:
            if hastheSameLengh is False:
                if max_ubo >= threshold:
                    C1.append(item)
                    if occupancy >= threshold:
                        HOI1.append(item)
            else:
                C1.append(item)
                if occupancy >= threshold:
                    HOI1.append(item)
    
    return C1, HOI1

In [19]:
def df_intersection(items1, items2, df_stset):    
    df_intersection = pd.DataFrame(columns=['Items', 'StSet'])
    # set1 = set(items1)
    # set2 = set(items2)
    list_item = sorted(list(set(items1) | set(items2)))
    
    list_occupancy_item = []
    
    for i in list_item:
        list_occupancy_item.append(df_stset[df_stset['Items'].apply(lambda item: i in item)]["StSet"].iloc[0])
        
    intersection_list = set(list_occupancy_item[0])
    for sublist in list_occupancy_item[1:]:
        intersection_list = intersection_list.intersection(sublist)

    intersection_list = sorted(intersection_list, key = lambda x: x[0])
    
    df_intersection = df_intersection.append({'Items': list_item, 'StSet': intersection_list}, ignore_index=True)
    df_intersection['Length_transaction'] = df_intersection['StSet'].apply(lambda x: [len(df[df['Tid'] == tid]['Items'].iloc[0]) for tid in x])
    return df_intersection

In [20]:
# test1 = ['a']
# test2 = ['b']
# df_intersection(test1, test2, df_stset)

In [21]:
def is_same_equivalence_class(P1, P2):
    if len(P1) == len(P2):
        if len(P1) == 1:
            if P1 == P2:
                return False
            else:
                return True
        else:
            if P1 == P2:
                return False
            else:
                new_P1 = P1[:-1]
                new_P2 = P2[:-1]
                if new_P1 == new_P2:
                    return True
                else:
                    return False
    else:
        return False
        # else:
        #     intersection_P1_P2 = sorted(list(set(P1) & set(P2)))
        #     print(intersection_P1_P2)
        #     if len(intersection_P1_P2) == len(P1) - 1:
        #         for element in intersection_P1_P2:
        #             if P1.index(element) != P2.index(element):
        #                 return False
        #         return True
        #     else:
        #         return False

In [22]:
test1 = ['a']
test2 = ['b']
print(is_same_equivalence_class(test1, test2))

True

In [23]:
def cal_occupancy_candidate(items):    
    df_candidate = pd.DataFrame(columns=['Items', 'StSet'])
    
    list_stset_item = []
    
    for i in items:
        list_stset_item.append(df_stset[df_stset['Items'].apply(lambda item: i in item)]["StSet"].iloc[0])
        
    intersection_list = set(list_stset_item[0])
    for sublist in list_stset_item[1:]:
        intersection_list = intersection_list.intersection(sublist)
    
    intersection_list = sorted(intersection_list, key = lambda x: x[0])
    
    df_candidate = df_candidate.append({'Items': items, 'StSet': intersection_list}, ignore_index=True)
    df_candidate['Length_transaction'] = df_candidate['StSet'].apply(lambda x: [len(df[df['Tid'] == tid]['Items'].iloc[0]) for tid in x])
    df_candidate = cal_occupancy(df_candidate)
    return df_candidate

In [24]:
# test = ['a','b','d']
# df_test = cal_occupancy_candidate(test)['Occupancy'].iloc[0]
# print(df_test)

In [25]:
def mine_hoi_k_itemset(threshold, hastheSameLengh, CK_minus_1, df_stset):
    CK = []
    HOIK = []
    
    while len(CK_minus_1) > 0:
        P1 = sorted(CK_minus_1[0])
        for P2 in CK_minus_1:
            sorted(P2)
            try:
                if is_same_equivalence_class(P1, P2):
                    P = df_intersection(P1, P2, df_stset)
                    P_items = P['Items'].iloc[0]
                    P_stset = P['StSet'].iloc[0]
                    if len(P_stset) >= threshold:
                        if hastheSameLengh is False:
                            P_ubo = cal_UBO(P)['Max_UBO'].iloc[0]
                            if P_ubo >= threshold:
                                CK.append(P_items)
                        else:
                            CK.append(P_items)
            except:
                continue
                        
        CK_minus_1.pop(0)
    
    for i in CK:
        if cal_occupancy_candidate(i)['Occupancy'].iloc[0] >= threshold:
            HOIK.append(i)
    
    return CK, HOIK

In [26]:
def mine_depth_hois(threshold, hastheSameLengh, C1, df_stset, HOIS):
    if len(C1) == 0:
        return HOIS
    
    for i in range(len(C1)):
        P1 = C1[i]
        C_l = []
        for j in range(i + 1, len(C1)):
            try:
                P2 = C1[j]
                P = df_intersection(P1, P2, df_stset)
                P_items = P['Items'].iloc[0]
                P_stset = P['StSet'].iloc[0]
                if len(P_stset) >= threshold:
                    if hastheSameLengh is False:
                        P_ubo = cal_UBO(P)['Max_UBO'].iloc[0]
                        if P_ubo >= threshold:
                            C_l.append(P_items)
                    else:
                        C_l.append(P_items)
            except:
                continue

        mine_depth_hois(threshold, hastheSameLengh, C_l, df_stset, HOIS)
        
        for i in C_l:
            if cal_occupancy_candidate(i)['Occupancy'].iloc[0] >= threshold:
                HOIS.append(i)
    
    # return HOIS

In [27]:
#test FHOI
HOIS = []
C1 = []
HOI1 = []
CK_minus_1 = []

k = 2 # loop to create 2-itemset
threshold = 0.0009
threshold = threshold * len_df # ex: threshold = 25% of len(database)
start_time = time.time()

#create candidate 1 and HOI1 itemset
C1, HOI1 = mine_hoi_1_itemset(threshold, hastheSameLengh, df_stset)

HOIS = HOI1
CK_minus_1 = C1

while CK_minus_1:
    CK, HOIK = mine_hoi_k_itemset(threshold, hastheSameLengh, CK_minus_1, df_stset)
    HOIS.append(HOIK)
    CK_minus_1 = CK
    k += 1

print(HOIS)

end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time} seconds")

#update try except

In [ ]:
#test DFHOI
HOIS = []
C1 = []
HOI1 = []
CK_minus_1 = []

k = 2 # loop to create 2-itemset
threshold = 0.0009
threshold = threshold * len_df # ex: threshold = 25% of len(database)
start_time = time.time()

#create candidate 1 and HOI1 itemset
C1, HOI1 = mine_hoi_1_itemset(threshold, hastheSameLengh, df_stset)
HOIS = HOI1
# HOIS = []

HOIS.append(mine_depth_hois(threshold, hastheSameLengh, C1, df_stset, HOIS))

print(HOIS)

end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time} seconds")