In [1]:
import pandas as pd
from collections import Counter
import time
# from fruithut.fruithut import *
# from mushroom.mushroom import *
# from foodmart.foodmart import *
# from chess.chess import *
from demo_web.demo_web import *

# 1. Data Sample

In [2]:

# sample
# data = {
#     'Tid': ['T1', 'T2', 'T3', 'T4', 'T5', 'T6'],
#     'Items': [['a', 'c', 'd'],
#               ['a', 'b', 'd'],
#               ['b', 'c', 'd', 'e'],
#               ['a', 'd'],
#               ['c', 'd', 'e'],
#               ['a', 'b', 'c', 'd', 'e']]
# }
# df = pd.DataFrame(data)

# data = {
#     'Tid': ['T1', 'T2', 'T3', 'T4', 'T5', 'T6'],
#     'Items': [['apple', 'cherry', 'durian'],
#               ['apple', 'banana', 'durian'],
#               ['banana', 'cherry', 'durian', 'elderberry'],
#               ['apple', 'durian'],
#               ['cherry', 'durian', 'elderberry'],
#               ['apple', 'banana', 'cherry', 'durian', 'elderberry']]
# }

# df = pd.DataFrame(data)
df['Item_Length'] = df['Items'].apply(lambda items: len(items))
len_df = len(df)
df

      Tid                                              Items  Item_Length
0      T8                   [item10, item26, item25, item28]            4
1     T10   [item23, item28, item13, item25, item24, item12]            6
2     T11  [item10, item11, item28, item13, item14, item2...            7
3     T12   [item23, item11, item28, item13, item26, item14]            6
4     T13   [item11, item26, item25, item14, item24, item12]            6
..    ...                                                ...          ...
122  T134                           [item14, item26, item10]            3
123  T135                   [item10, item26, item25, item14]            4
124  T136                   [item23, item10, item24, item26]            4
125  T137                   [item26, item14, item13, item28]            4
126  T138                                   [item23, item25]            2

[127 rows x 3 columns]

In [3]:
unique_items = sorted(df['Items'].explode().unique()) # get unique item => save to list
unique_items

['item10',
 'item11',
 'item12',
 'item13',
 'item14',
 'item23',
 'item24',
 'item25',
 'item26',
 'item28']

# 2. Transform data - Calculate metric

## 2.1 Occupancy list

In [4]:
# calculate occupancy list: {'a': [(T1, 3), (T2, 3), (T4, 2), (T6, 5)]} - list Tid, len(Tid) containing unique item
def occupancy_list(df):
    # occupancy_list = {} 
    # for item in unique_items:
    #     tid_list = df[df['Items'].apply(lambda items: item in items)]['Tid'].tolist() # create column Items with items in unique item
    #     tid_lengths = [(tid, len(df[df['Tid'] == tid]['Items'].iloc[0])) for tid in tid_list if item in df[df['Tid'] == tid]['Items'].iloc[0]] # length of Tid containing unique items
    #     occupancy_list[item] = tid_lengths # add value with item_key
    # df_occupancy_list = pd.DataFrame(occupancy_list.items(), columns=['Items', 'Occupancy_list'])
    # df_occupancy_list['Items'] = df_occupancy_list['Items'].apply(lambda x: [x])
    
    df_unpivot = df.explode('Items')
    df_occupancy_list = df_unpivot.groupby('Items').agg({'Tid': list, 'Item_Length': list}).reset_index()
    df_occupancy_list['Occupancy_list'] = df_occupancy_list.apply(lambda row: list(zip(row['Tid'], row['Item_Length'])), axis=1)
    df_occupancy_list = df_occupancy_list[['Items', 'Occupancy_list']]
    df_occupancy_list['Items'] = df_occupancy_list['Items'].apply(lambda x: [x])
    return df_occupancy_list

In [5]:
start_time = time.time()
df_occupancy_list = occupancy_list(df)
print(df_occupancy_list)
end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time} seconds")

      Items                                     Occupancy_list
0  [item10]  [(T8, 4), (T11, 7), (T14, 5), (T20, 6), (T21, ...
1  [item11]  [(T11, 7), (T12, 6), (T13, 6), (T18, 5), (T19,...
2  [item12]  [(T10, 6), (T11, 7), (T13, 6), (T14, 5), (T18,...
3  [item13]  [(T10, 6), (T11, 7), (T12, 6), (T14, 5), (T19,...
4  [item14]  [(T11, 7), (T12, 6), (T13, 6), (T14, 5), (T18,...
5  [item23]  [(T10, 6), (T12, 6), (T18, 5), (T20, 6), (T28,...
6  [item24]  [(T10, 6), (T11, 7), (T13, 6), (T22, 6), (T23,...
7  [item25]  [(T8, 4), (T10, 6), (T13, 6), (T19, 4), (T20, ...
8  [item26]  [(T8, 4), (T12, 6), (T13, 6), (T14, 5), (T22, ...
9  [item28]  [(T8, 4), (T10, 6), (T11, 7), (T12, 6), (T18, ...
Execution time: 0.1115102767944336 seconds

## 2.2 Support Transaction Set - StSet

In [6]:
# calculate stset: {'a': [T1, T2, T4, T6]} - list of Tid containing unique item
def cal_stset(df_occupancy_list):
    df_stset = pd.DataFrame(columns=['Items', 'Occupancy'])

    for index, row in df_occupancy_list.iterrows():
        item = row['Items']
        occupancy_list = [tid for tid, _ in row['Occupancy_list']] # get Tid containing unique item
        df_stset = df_stset.append({'Items': item, 'Occupancy': occupancy_list}, ignore_index=True)
    return df_stset

In [7]:
df_stset = cal_stset(df_occupancy_list)
df_stset

      Items                                          Occupancy
0  [item10]  [T8, T11, T14, T20, T21, T24, T25, T26, T28, T...
1  [item11]  [T11, T12, T13, T18, T19, T21, T22, T25, T26, ...
2  [item12]  [T10, T11, T13, T14, T18, T20, T21, T22, T26, ...
3  [item13]  [T10, T11, T12, T14, T19, T20, T21, T23, T24, ...
4  [item14]  [T11, T12, T13, T14, T18, T19, T22, T25, T26, ...
5  [item23]  [T10, T12, T18, T20, T28, T29, T31, T33, T35, ...
6  [item24]  [T10, T11, T13, T22, T23, T24, T31, T32, T33, ...
7  [item25]  [T8, T10, T13, T19, T20, T22, T23, T24, T25, T...
8  [item26]  [T8, T12, T13, T14, T22, T25, T27, T28, T29, T...
9  [item28]  [T8, T10, T11, T12, T18, T20, T23, T26, T30, T...

## 2.2 Support

In [8]:
# calculate support - count number of Tid containing unique item
def cal_support(df_stset):
    df_support = pd.DataFrame(columns=['Items', 'Support'])
    df_support['Items'] = df_stset['Items']
    df_support['Support'] = df_stset['Occupancy'].apply(len)
    return df_support

In [9]:
df_support = cal_support(df_stset)
df_support

      Items  Support
0  [item10]       65
1  [item11]       61
2  [item12]       59
3  [item13]       74
4  [item14]       58
5  [item23]       61
6  [item24]       57
7  [item25]       70
8  [item26]       72
9  [item28]       55

## 2.3 Occupancy

In [10]:
# calculate occupancy - O(P) = ∑ T ∈ STSet(P) |P|/|T|
# |P|: len(unique item) itemset {a} =>1
# |T|: len(Tid) 1/3 + 1/3 + 1/2 + 1/5 
def cal_occupancy(df_occupancy_list):
    occupancy_data = []
    for index, row in df_occupancy_list.iterrows():
        item = row['Items']
        occupancy_list = row['Occupancy_list']
        total = 0
        for tid, length in occupancy_list:
            total += len(item) / length
        occupancy_data.append({'Items': item, 'Occupancy': round(total, 2)})
    
    df_occupancy = pd.DataFrame(occupancy_data)
    
    return df_occupancy

In [11]:
df_occupancy = cal_occupancy(df_occupancy_list)
df_occupancy

      Items  Occupancy
0  [item10]      13.43
1  [item11]      12.46
2  [item12]      12.04
3  [item13]      14.92
4  [item14]      11.63
5  [item23]      11.95
6  [item24]      10.86
7  [item25]      14.50
8  [item26]      14.62
9  [item28]      10.59

## 2.4 Upper-bound Occupancy

In [12]:
# ex: 'a': {'l(a)': [2, 3, 5], 'n(a)': [1, 2, 1]}
def df_prepare_UBO(df_occupancy_list):
    UBO_data = []
    for index, row in df_occupancy_list.iterrows():
        item = row['Items']
        occupancy_list = row['Occupancy_list']
        
        values = [i[1] for i in occupancy_list]
        l_item = sorted(set(values)) # get unique len(Tid) => sort ascending
    
        counter = Counter(values)
        n_item = [counter[i] for i in l_item] # count unique len(Tid) in occupancy_list => same index with l_item
        
        UBO_data.append({'Items': item, 'l_item': l_item, 'n_item': n_item})
    
    df_UBO = pd.DataFrame(UBO_data)
    return df_UBO

In [13]:
df_prepare_UBO(df_occupancy_list)

      Items                        l_item                          n_item
0  [item10]     [3, 4, 5, 6, 7, 8, 9, 10]     [4, 23, 14, 11, 8, 2, 2, 1]
1  [item11]     [3, 4, 5, 6, 7, 8, 9, 10]     [4, 19, 14, 13, 5, 3, 2, 1]
2  [item12]     [3, 4, 5, 6, 7, 8, 9, 10]     [8, 12, 11, 14, 8, 3, 2, 1]
3  [item13]     [3, 4, 5, 6, 7, 8, 9, 10]     [5, 20, 18, 16, 9, 3, 2, 1]
4  [item14]     [3, 4, 5, 6, 7, 8, 9, 10]     [4, 14, 15, 14, 7, 2, 1, 1]
5  [item23]  [2, 3, 4, 5, 6, 7, 8, 9, 10]   [1, 3, 9, 19, 16, 9, 1, 2, 1]
6  [item24]     [3, 4, 5, 6, 7, 8, 9, 10]    [2, 13, 14, 12, 11, 2, 2, 1]
7  [item25]  [2, 3, 4, 5, 6, 7, 8, 9, 10]  [1, 5, 19, 16, 16, 8, 2, 2, 1]
8  [item26]     [3, 4, 5, 6, 7, 8, 9, 10]     [6, 19, 15, 18, 9, 3, 1, 1]
9  [item28]     [3, 4, 5, 6, 7, 8, 9, 10]     [4, 12, 9, 14, 10, 3, 2, 1]

In [14]:
# calculate according to the formula: ni x lx/li
def cal_ubo(l, n):
    total = 0
    for i in range(len(l)):
        total += n[i] * l[0] / l[i]
    return round(total, 2)

In [15]:
# summarize: ∑ni x lx/li => save to list 
def ubo_final(length, number_transaction):
    ubo = []
    for i in range(len(length)): 
        # ex: len = [2,3,5], num_trans = [1,2,1]
        # i = 0 => len = [2,3,5], num_trans = [1,2,1]
        # i = 1 => len = [3,5], num_trans = [2,1]
        # ...
        ubo.append(cal_ubo(length[i:], number_transaction[i:])) # save result cal_ubo for each i => get maxUBO
    return ubo

In [16]:
# get max from summarize => save max value in UBO by key
def calculate_maxUBO(df_UBO):
    df_UBO['List_UBO'] = None # create new column
    df_UBO['Max_UBO'] = None # create new column
    for index, row in df_UBO.iterrows():
        length = row['l_item'] #get list of len(Tid) containing unique item
        number_transaction = row['n_item'] # count unique len(Tid) in occupancy_list
        
        ubo = ubo_final(length, number_transaction) # get list of UBO by i. ex: [2.73, 2.6, 1.0]
        max_ubo = max(ubo) # max list of UBO
        
        df_UBO.at[index, 'List_UBO'] = ubo # save result in df
        df_UBO.at[index, 'Max_UBO'] = max_ubo # save result in df
        
    return df_UBO

In [17]:
# UBO calculation methods: main function
def cal_UBO(df_occupancy_list): 
    df_UBO = df_prepare_UBO(df_occupancy_list)    
    df_UBO = calculate_maxUBO(df_UBO)
    return df_UBO

In [18]:
df_UBO = cal_UBO(df_occupancy_list)
df_UBO

,Items,l_item,n_item,List_UBO,Max_UBO
0,[item10],"[3, 4, 5, 6, 7, 8, 9, 10]","[4, 23, 14, 11, 8, 2, 2, 1]","[40.3, 48.39, 31.74, 21.29, 12.01, 4.58, 2.9, ...",48.39
1,[item11],"[3, 4, 5, 6, 7, 8, 9, 10]","[4, 19, 14, 13, 5, 3, 2, 1]","[37.38, 44.51, 31.89, 21.47, 9.88, 5.58, 2.9, ...",44.51
2,[item12],"[3, 4, 5, 6, 7, 8, 9, 10]","[8, 12, 11, 14, 8, 3, 2, 1]","[36.12, 37.49, 31.87, 25.04, 12.88, 5.58, 2.9,...",37.49
3,[item13],"[3, 4, 5, 6, 7, 8, 9, 10]","[5, 20, 18, 16, 9, 3, 2, 1]","[44.75, 53.0, 41.25, 27.9, 13.88, 5.58, 2.9, 1.0]",53
4,[item14],"[3, 4, 5, 6, 7, 8, 9, 10]","[4, 14, 15, 14, 7, 2, 1, 1]","[34.88, 41.18, 33.97, 22.77, 10.23, 3.69, 1.9,...",41.18
5,[item23],"[2, 3, 4, 5, 6, 7, 8, 9, 10]","[1, 3, 9, 19, 16, 9, 1, 2, 1]","[23.9, 34.35, 41.8, 41.0, 26.4, 12.13, 3.58, 2...",41.8
6,[item24],"[3, 4, 5, 6, 7, 8, 9, 10]","[2, 13, 14, 12, 11, 2, 2, 1]","[32.58, 40.77, 34.72, 24.86, 15.01, 4.58, 2.9,...",40.77
7,[item25],"[2, 3, 4, 5, 6, 7, 8, 9, 10]","[1, 5, 19, 16, 16, 8, 2, 2, 1]","[29.0, 42.0, 49.33, 37.91, 26.29, 12.01, 4.58,...",49.33
8,[item26],"[3, 4, 5, 6, 7, 8, 9, 10]","[6, 19, 15, 18, 9, 3, 1, 1]","[43.87, 50.49, 39.36, 29.23, 13.1, 4.69, 1.9, ...",50.49
9,[item28],"[3, 4, 5, 6, 7, 8, 9, 10]","[4, 12, 9, 14, 10, 3, 2, 1]","[31.78, 37.04, 31.3, 26.75, 14.88, 5.58, 2.9, ...",37.04

In [19]:
# runtime
def runtime():
    start_time = time.time()
    end_time = time.time()
    execution_time = end_time - start_time
    print(f"Execution time: {execution_time} seconds")

## 2.5 Create Dataframe merge from Occupancy, Support, UBO

In [20]:
# the index, support, occupancy and UBO of each itemset
def itemset_info(df_occupancy, df_support, df_UBO):
    df_occupancy_exploded = df_occupancy.explode('Items')
    df_support_exploded = df_support.explode('Items')
    df_UBO_exploded = df_UBO.explode('Items')
    merge_df = df_support_exploded[['Items', 'Support']].merge(df_occupancy_exploded[['Items', 'Occupancy']], on = "Items").\
        merge(df_UBO_exploded[['Items', 'Max_UBO']], on = "Items")
    merge_df['Items'] = merge_df['Items'].apply(lambda x: [x]) 
    
    return merge_df

In [21]:
df_itemset_info = itemset_info(df_occupancy, df_support, df_UBO)
df_itemset_info

      Items  Support  Occupancy Max_UBO
0  [item10]       65      13.43   48.39
1  [item11]       61      12.46   44.51
2  [item12]       59      12.04   37.49
3  [item13]       74      14.92      53
4  [item14]       58      11.63   41.18
5  [item23]       61      11.95    41.8
6  [item24]       57      10.86   40.77
7  [item25]       70      14.50   49.33
8  [item26]       72      14.62   50.49
9  [item28]       55      10.59   37.04

## 2.6 Algorithm

### 2.6.1 Intersection k-itemset

In [22]:
def df_intersection(items1, items2, df_occupancy_list):    
    df = pd.DataFrame(columns=['Items', 'Occupancy_list'])
    # set1 = set(items1)
    # set2 = set(items2)
    list_item = sorted(list(set(items1) | set(items2)))
    
    list_occupancy_item = []
    
    for i in list_item:
        list_occupancy_item.append(df_occupancy_list[df_occupancy_list['Items'].apply(lambda item: i in item)]["Occupancy_list"].iloc[0])
        
    intersection_list = set(list_occupancy_item[0])
    for sublist in list_occupancy_item[1:]:
        intersection_list = intersection_list.intersection(sublist)

    intersection_list = sorted(intersection_list, key = lambda x: x[0])
    
    df = df.append({'Items': list_item, 'Occupancy_list': intersection_list}, ignore_index=True)

    return df

### 2.6.2 Main Algorithm

In [23]:
def hep_algorithm(threshold, df_itemset_info, df_occupancy_list):
    C1 = []
    HO1 = []
    
    for index, row in df_itemset_info.iterrows():
        items = row['Items'] # 1-itemset in row
        support = row['Support'] # support of 1-itemset
        occupancy = row['Occupancy'] # occuopancy of 1-itemset
        max_ubo = row['Max_UBO'] # max_ubo of 1-itemset
        
        if support >= threshold:
            if max_ubo >= threshold:
                # C1.add(frozenset(items)) # candidate 1-itemset => use item for C1 to create k-itemset (k = 2, k += 1 for each loop)
                C1.append(items)
            if occupancy >= threshold:
                # HO1.add(frozenset(items)) # High Occupancy 1-itemset.
                HO1.append(items)

    # return C1, HO1
    
    # Generate Ck and HOk
    k = 2
    Ck_1 = C1
    HOk = HO1
    
    while Ck_1:
        Ck = []
        for i in range(len(Ck_1)):
            for j in range(i+1, len(Ck_1)):
                if len(set(Ck_1[i]) & set(Ck_1[j])) == k - 2: # # C1 = {{'a'},{'b'},{'c'},{'d'},{'e'}}
                    try:
                        P_occupancy_list = df_intersection(Ck_1[i], Ck_1[j], df_occupancy_list)
                        p_items = P_occupancy_list['Items'].iloc[0]
                        if p_items in HOk:
                            continue
                        p_ubo = cal_UBO(P_occupancy_list)['Max_UBO'].iloc[0]
                        p_occupancy = cal_occupancy(P_occupancy_list)['Occupancy'].iloc[0]
                        if p_ubo >= threshold:
                            Ck.append(p_items)
                            if p_occupancy >= threshold:
                                HOk.append(p_items)
                    except:
                        continue
        k += 1
        Ck_1 = Ck
        
    # Return the set of all high occupancy itemsets
    # HO_Set = HOk
    # for itemsets in HOk:
    #     HO_Set.append(itemsets)
    
    return HOk

## 2.7 Test Algorithm

In [24]:
threshold = 0.1
threshold = threshold * len_df # ex: threshold = 25% of len(database)
start_time = time.time()
HO_Set = hep_algorithm(threshold, df_itemset_info, df_occupancy_list)
for i in HO_Set:
    print(i)
print(len(HO_Set))

end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time} seconds")

['item10']
['item13']
['item25']
['item26']
['item10', 'item13']
['item11', 'item26']
['item13', 'item23']
['item13', 'item25']
['item13', 'item26']
['item23', 'item25']
['item25', 'item26']
['item25', 'item28']
12
Execution time: 9.483045101165771 seconds