In [1]:
import pandas as pd
from collections import Counter
import time
# from data_test import *
# from mushroom import *
# from retail_transaction_dataset import *
from fruithut.fruithut import *

     Tid                                       Items
0     T1                                [1079, 2032]
1     T2                                      [2032]
2     T3                                [1001, 4019]
3     T4                                      [1001]
4     T5                          [1001, 1003, 1123]
..   ...                                         ...
95   T96                          [1032, 1071, 2030]
96   T97  [1002, 1008, 1017, 1063, 2003, 2010, 2030]
97   T98                                      [2036]
98   T99                          [1058, 2010, 2030]
99  T100                                [1033, 2022]

[100 rows x 2 columns]

In [2]:

# sample
# data = {
#     'Tid': ['T1', 'T2', 'T3', 'T4', 'T5', 'T6'],
#     'Items': [['a', 'c', 'd'],
#               ['a', 'b', 'd'],
#               ['b', 'c', 'd', 'e'],
#               ['a', 'd'],
#               ['c', 'd', 'e'],
#               ['a', 'b', 'c', 'd', 'e']]
# }
# df = pd.DataFrame(data)

# data = {
#     'Tid': ['T1', 'T2', 'T3', 'T4', 'T5', 'T6'],
#     'Items': [['apple', 'cherry', 'durian'],
#               ['apple', 'banana', 'durian'],
#               ['banana', 'cherry', 'durian', 'elderberry'],
#               ['apple', 'durian'],
#               ['cherry', 'durian', 'elderberry'],
#               ['apple', 'banana', 'cherry', 'durian', 'elderberry']]
# }

# df = pd.DataFrame(data)
df['Item_Length'] = df['Items'].apply(lambda items: len(items))
len_df = len(df)
df

     Tid                                       Items  Item_Length
0     T1                                [1079, 2032]            2
1     T2                                      [2032]            1
2     T3                                [1001, 4019]            2
3     T4                                      [1001]            1
4     T5                          [1001, 1003, 1123]            3
..   ...                                         ...          ...
95   T96                          [1032, 1071, 2030]            3
96   T97  [1002, 1008, 1017, 1063, 2003, 2010, 2030]            7
97   T98                                      [2036]            1
98   T99                          [1058, 2010, 2030]            3
99  T100                                [1033, 2022]            2

[100 rows x 3 columns]

In [3]:
unique_items = sorted(df['Items'].explode().unique()) # get unique item => save to list
unique_items

['1001',
 '1002',
 '1003',
 '1004',
 '1007',
 '1008',
 '1012',
 '1014',
 '1017',
 '1021',
 '1027',
 '1031',
 '1032',
 '1033',
 '1034',
 '1037',
 '1054',
 '1058',
 '1063',
 '1064',
 '1066',
 '1071',
 '1073',
 '1076',
 '1077',
 '1078',
 '1079',
 '1080',
 '1099',
 '1109',
 '1111',
 '1123',
 '1203',
 '2002',
 '2003',
 '2004',
 '2005',
 '2010',
 '2021',
 '2022',
 '2023',
 '2025',
 '2028',
 '2030',
 '2031',
 '2032',
 '2034',
 '2036',
 '2037',
 '2038',
 '2041',
 '2045',
 '3013',
 '4001',
 '4019',
 '4024',
 '4031']

In [4]:
# calculate occupancy list: {'a': [(T1, 3), (T2, 3), (T4, 2), (T6, 5)]} - list Tid, len(Tid) containing unique item
def occupancy_list(df):
    occupancy_list = {} 
    for item in unique_items:
        tid_list = df[df['Items'].apply(lambda items: item in items)]['Tid'].tolist() # create column Items with items in unique item
        tid_lengths = [(tid, len(df[df['Tid'] == tid]['Items'].iloc[0])) for tid in tid_list if item in df[df['Tid'] == tid]['Items'].iloc[0]] # length of Tid containing unique items
        occupancy_list[item] = tid_lengths # add value with item_key
    df_occupancy_list = pd.DataFrame(occupancy_list.items(), columns=['Items', 'Occupancy_list'])
    df_occupancy_list['Items'] = df_occupancy_list['Items'].apply(lambda x: [x]) 
    return df_occupancy_list

In [5]:
df_occupancy_list = occupancy_list(df)
df_occupancy_list

     Items                                     Occupancy_list
0   [1001]      [(T3, 2), (T4, 1), (T5, 3), (T7, 4), (T8, 3)]
1   [1002]  [(T14, 6), (T15, 3), (T22, 9), (T24, 14), (T32...
2   [1003]                                 [(T5, 3), (T9, 4)]
3   [1004]                                 [(T7, 4), (T9, 4)]
4   [1007]                                 [(T8, 3), (T9, 4)]
5   [1008]  [(T22, 9), (T43, 3), (T66, 6), (T81, 1), (T94,...
6   [1012]                                         [(T82, 4)]
7   [1014]                                          [(T8, 3)]
8   [1017]                     [(T62, 1), (T64, 4), (T97, 7)]
9   [1021]          [(T11, 4), (T24, 14), (T40, 1), (T64, 4)]
10  [1027]                               [(T22, 9), (T31, 8)]
11  [1031]                                         [(T29, 2)]
12  [1032]  [(T15, 3), (T31, 8), (T36, 2), (T51, 4), (T56,...
13  [1033]  [(T11, 4), (T14, 6), (T22, 9), (T31, 8), (T90,...
14  [1034]                     [(T15, 3), (T77, 7), (T91, 5)]
15  [1037]  [(T10, 2), (T11, 4), (T23, 3), (T31, 8), (T34,...
16  [1054]  [(T51, 4), (T66, 6), (T86, 3), (T91, 5), (T94,...
17  [1058]                     [(T31, 8), (T88, 5), (T99, 3)]
18  [1063]                     [(T92, 2), (T94, 4), (T97, 7)]
19  [1064]  [(T23, 3), (T31, 8), (T32, 5), (T51, 4), (T80,...
20  [1066]                                         [(T34, 3)]
21  [1071]  [(T32, 5), (T34, 3), (T41, 4), (T42, 3), (T45,...
22  [1073]                     [(T13, 2), (T22, 9), (T23, 3)]
23  [1076]                               [(T14, 6), (T66, 6)]
24  [1077]  [(T67, 2), (T68, 3), (T85, 5), (T86, 3), (T88,...
25  [1078]                                         [(T66, 6)]
26  [1079]             [(T1, 2), (T6, 3), (T37, 3), (T41, 4)]
27  [1080]                                         [(T85, 5)]
28  [1099]                    [(T14, 6), (T24, 14), (T25, 3)]
29  [1109]           [(T14, 6), (T32, 5), (T74, 3), (T90, 2)]
30  [1111]           [(T21, 6), (T71, 4), (T82, 4), (T91, 5)]
31  [1123]                                 [(T5, 3), (T7, 4)]
32  [1203]                                 [(T7, 4), (T9, 4)]
33  [2002]          [(T22, 9), (T24, 14), (T39, 4), (T93, 2)]
34  [2003]           [(T17, 3), (T57, 2), (T65, 3), (T97, 7)]
35  [2004]                                         [(T66, 6)]
36  [2005]  [(T42, 3), (T43, 3), (T52, 3), (T61, 2), (T77,...
37  [2010]  [(T16, 3), (T21, 6), (T24, 14), (T26, 3), (T27...
38  [2021]  [(T22, 9), (T25, 3), (T27, 3), (T31, 8), (T55,...
39  [2022]  [(T13, 2), (T21, 6), (T22, 9), (T26, 3), (T29,...
40  [2023]  [(T22, 9), (T45, 4), (T60, 3), (T65, 3), (T77,...
41  [2025]                                        [(T24, 14)]
42  [2028]                                         [(T94, 4)]
43  [2030]  [(T11, 4), (T12, 3), (T19, 1), (T21, 6), (T24,...
44  [2031]                                         [(T55, 4)]
45  [2032]  [(T1, 2), (T2, 1), (T6, 3), (T17, 3), (T24, 14...
46  [2034]                                        [(T24, 14)]
47  [2036]  [(T10, 2), (T14, 6), (T16, 3), (T17, 3), (T18,...
48  [2037]                                         [(T50, 3)]
49  [2038]  [(T21, 6), (T28, 1), (T30, 1), (T45, 4), (T77,...
50  [2041]                                        [(T24, 14)]
51  [2045]                     [(T12, 3), (T37, 3), (T72, 1)]
52  [3013]                                        [(T24, 14)]
53  [4001]                                        [(T24, 14)]
54  [4019]                                          [(T3, 2)]
55  [4024]                                          [(T6, 3)]
56  [4031]  [(T12, 3), (T16, 3), (T20, 1), (T24, 14), (T31...

In [6]:
# calculate stset: {'a': [T1, T2, T4, T6]} - list of Tid containing unique item
def cal_stset(df_occupancy_list):
    df_stset = pd.DataFrame(columns=['Items', 'Occupancy'])

    for index, row in df_occupancy_list.iterrows():
        item = row['Items']
        occupancy_list = [tid for tid, _ in row['Occupancy_list']] # get Tid containing unique item
        df_stset = df_stset.append({'Items': item, 'Occupancy': occupancy_list}, ignore_index=True)
    return df_stset

In [7]:
df_stset = cal_stset(df_occupancy_list)
df_stset

     Items                                          Occupancy
0   [1001]                               [T3, T4, T5, T7, T8]
1   [1002]  [T14, T15, T22, T24, T32, T35, T41, T57, T85, ...
2   [1003]                                           [T5, T9]
3   [1004]                                           [T7, T9]
4   [1007]                                           [T8, T9]
5   [1008]                     [T22, T43, T66, T81, T94, T97]
6   [1012]                                              [T82]
7   [1014]                                               [T8]
8   [1017]                                    [T62, T64, T97]
9   [1021]                               [T11, T24, T40, T64]
10  [1027]                                         [T22, T31]
11  [1031]                                              [T29]
12  [1032]      [T15, T31, T36, T51, T56, T60, T80, T82, T96]
13  [1033]                    [T11, T14, T22, T31, T90, T100]
14  [1034]                                    [T15, T77, T91]
15  [1037]                [T10, T11, T23, T31, T34, T55, T70]
16  [1054]                          [T51, T66, T86, T91, T94]
17  [1058]                                    [T31, T88, T99]
18  [1063]                                    [T92, T94, T97]
19  [1064]                          [T23, T31, T32, T51, T80]
20  [1066]                                              [T34]
21  [1071]                [T32, T34, T41, T42, T45, T64, T96]
22  [1073]                                    [T13, T22, T23]
23  [1076]                                         [T14, T66]
24  [1077]                     [T67, T68, T85, T86, T88, T92]
25  [1078]                                              [T66]
26  [1079]                                 [T1, T6, T37, T41]
27  [1080]                                              [T85]
28  [1099]                                    [T14, T24, T25]
29  [1109]                               [T14, T32, T74, T90]
30  [1111]                               [T21, T71, T82, T91]
31  [1123]                                           [T5, T7]
32  [1203]                                           [T7, T9]
33  [2002]                               [T22, T24, T39, T93]
34  [2003]                               [T17, T57, T65, T97]
35  [2004]                                              [T66]
36  [2005]                     [T42, T43, T52, T61, T77, T78]
37  [2010]  [T16, T21, T24, T26, T27, T32, T39, T50, T54, ...
38  [2021]  [T22, T25, T27, T31, T55, T76, T85, T88, T91, ...
39  [2022]  [T13, T21, T22, T26, T29, T33, T36, T38, T39, ...
40  [2023]                          [T22, T45, T60, T65, T77]
41  [2025]                                              [T24]
42  [2028]                                              [T94]
43  [2030]  [T11, T12, T19, T21, T24, T26, T33, T37, T41, ...
44  [2031]                                              [T55]
45  [2032]  [T1, T2, T6, T17, T24, T27, T68, T75, T77, T86...
46  [2034]                                              [T24]
47  [2036]  [T10, T14, T16, T17, T18, T21, T24, T25, T48, ...
48  [2037]                                              [T50]
49  [2038]                     [T21, T28, T30, T45, T77, T89]
50  [2041]                                              [T24]
51  [2045]                                    [T12, T37, T72]
52  [3013]                                              [T24]
53  [4001]                                              [T24]
54  [4019]                                               [T3]
55  [4024]                                               [T6]
56  [4031]  [T12, T16, T20, T24, T31, T39, T45, T46, T52, ...

In [8]:
# calculate support - count number of Tid containing unique item
def cal_support(df_stset):
    df_support = pd.DataFrame(columns=['Items', 'Support'])
    df_support['Items'] = df_stset['Items']
    df_support['Support'] = df_stset['Occupancy'].apply(len)
    return df_support

In [9]:
df_support = cal_support(df_stset)
df_support

     Items  Support
0   [1001]        5
1   [1002]       11
2   [1003]        2
3   [1004]        2
4   [1007]        2
5   [1008]        6
6   [1012]        1
7   [1014]        1
8   [1017]        3
9   [1021]        4
10  [1027]        2
11  [1031]        1
12  [1032]        9
13  [1033]        6
14  [1034]        3
15  [1037]        7
16  [1054]        5
17  [1058]        3
18  [1063]        3
19  [1064]        5
20  [1066]        1
21  [1071]        7
22  [1073]        3
23  [1076]        2
24  [1077]        6
25  [1078]        1
26  [1079]        4
27  [1080]        1
28  [1099]        3
29  [1109]        4
30  [1111]        4
31  [1123]        2
32  [1203]        2
33  [2002]        4
34  [2003]        4
35  [2004]        1
36  [2005]        6
37  [2010]       17
38  [2021]       10
39  [2022]       20
40  [2023]        5
41  [2025]        1
42  [2028]        1
43  [2030]       29
44  [2031]        1
45  [2032]       11
46  [2034]        1
47  [2036]       16
48  [2037]        1
49  [2038]        6
50  [2041]        1
51  [2045]        3
52  [3013]        1
53  [4001]        1
54  [4019]        1
55  [4024]        1
56  [4031]       15

In [10]:
# calculate occupancy - O(P) = ∑ T ∈ STSet(P) |P|/|T|
# |P|: len(unique item) itemset {a} =>1
# |T|: len(Tid) 1/3 + 1/3 + 1/2 + 1/5 
def cal_occupancy(df_occupancy_list):
    occupancy_data = []
    for index, row in df_occupancy_list.iterrows():
        item = row['Items']
        occupancy_list = row['Occupancy_list']
        total = 0
        for tid, length in occupancy_list:
            total += len(item) / length
        occupancy_data.append({'Items': item, 'Occupancy': round(total, 2)})
    
    df_occupancy = pd.DataFrame(occupancy_data)
    
    return df_occupancy

In [11]:
df_occupancy = cal_occupancy(df_occupancy_list)
df_occupancy

     Items  Occupancy
0   [1001]       2.42
1   [1002]       3.18
2   [1003]       0.58
3   [1004]       0.50
4   [1007]       0.58
5   [1008]       2.00
6   [1012]       0.25
7   [1014]       0.33
8   [1017]       1.39
9   [1021]       1.57
10  [1027]       0.24
11  [1031]       0.50
12  [1032]       2.96
13  [1033]       1.65
14  [1034]       0.68
15  [1037]       2.79
16  [1054]       1.20
17  [1058]       0.66
18  [1063]       0.89
19  [1064]       1.24
20  [1066]       0.33
21  [1071]       1.95
22  [1073]       0.94
23  [1076]       0.33
24  [1077]       2.07
25  [1078]       0.17
26  [1079]       1.42
27  [1080]       0.20
28  [1099]       0.57
29  [1109]       1.20
30  [1111]       0.87
31  [1123]       0.58
32  [1203]       0.50
33  [2002]       0.93
34  [2003]       1.31
35  [2004]       0.17
36  [2005]       2.14
37  [2010]       5.66
38  [2021]       3.25
39  [2022]       9.09
40  [2023]       1.17
41  [2025]       0.07
42  [2028]       0.25
43  [2030]      12.47
44  [2031]       0.25
45  [2032]       4.38
46  [2034]       0.07
47  [2036]       8.99
48  [2037]       0.33
49  [2038]       3.56
50  [2041]       0.07
51  [2045]       1.67
52  [3013]       0.07
53  [4001]       0.07
54  [4019]       0.50
55  [4024]       0.33
56  [4031]       6.43

In [12]:
# ex: 'a': {'l(a)': [2, 3, 5], 'n(a)': [1, 2, 1]}
def df_prepare_UBO(df_occupancy_list):
    UBO_data = []
    for index, row in df_occupancy_list.iterrows():
        item = row['Items']
        occupancy_list = row['Occupancy_list']
        
        values = [i[1] for i in occupancy_list]
        l_item = sorted(set(values)) # get unique len(Tid) => sort ascending
    
        counter = Counter(values)
        n_item = [counter[i] for i in l_item] # count unique len(Tid) in occupancy_list => same index with l_item
        
        UBO_data.append({'Items': item, 'l_item': l_item, 'n_item': n_item})
    
    df_UBO = pd.DataFrame(UBO_data)
    return df_UBO

In [13]:
df_prepare_UBO(df_occupancy_list)

     Items                        l_item                       n_item
0   [1001]                  [1, 2, 3, 4]                 [1, 1, 2, 1]
1   [1002]  [1, 2, 3, 4, 5, 6, 7, 9, 14]  [1, 1, 1, 1, 3, 1, 1, 1, 1]
2   [1003]                        [3, 4]                       [1, 1]
3   [1004]                           [4]                          [2]
4   [1007]                        [3, 4]                       [1, 1]
5   [1008]            [1, 3, 4, 6, 7, 9]           [1, 1, 1, 1, 1, 1]
6   [1012]                           [4]                          [1]
7   [1014]                           [3]                          [1]
8   [1017]                     [1, 4, 7]                    [1, 1, 1]
9   [1021]                    [1, 4, 14]                    [1, 2, 1]
10  [1027]                        [8, 9]                       [1, 1]
11  [1031]                           [2]                          [1]
12  [1032]                  [2, 3, 4, 8]                 [2, 4, 2, 1]
13  [1033]               [2, 4, 6, 8, 9]              [2, 1, 1, 1, 1]
14  [1034]                     [3, 5, 7]                    [1, 1, 1]
15  [1037]               [1, 2, 3, 4, 8]              [1, 1, 2, 2, 1]
16  [1054]                  [3, 4, 5, 6]                 [1, 2, 1, 1]
17  [1058]                     [3, 5, 8]                    [1, 1, 1]
18  [1063]                     [2, 4, 7]                    [1, 1, 1]
19  [1064]                  [3, 4, 5, 8]                 [2, 1, 1, 1]
20  [1066]                           [3]                          [1]
21  [1071]                     [3, 4, 5]                    [3, 3, 1]
22  [1073]                     [2, 3, 9]                    [1, 1, 1]
23  [1076]                           [6]                          [2]
24  [1077]                     [2, 3, 5]                    [2, 2, 2]
25  [1078]                           [6]                          [1]
26  [1079]                     [2, 3, 4]                    [1, 2, 1]
27  [1080]                           [5]                          [1]
28  [1099]                    [3, 6, 14]                    [1, 1, 1]
29  [1109]                  [2, 3, 5, 6]                 [1, 1, 1, 1]
30  [1111]                     [4, 5, 6]                    [2, 1, 1]
31  [1123]                        [3, 4]                       [1, 1]
32  [1203]                           [4]                          [2]
33  [2002]                 [2, 4, 9, 14]                 [1, 1, 1, 1]
34  [2003]                     [2, 3, 7]                    [1, 2, 1]
35  [2004]                           [6]                          [1]
36  [2005]                     [2, 3, 7]                    [2, 3, 1]
37  [2010]     [1, 2, 3, 4, 5, 6, 7, 14]     [1, 2, 8, 1, 1, 2, 1, 1]
38  [2021]         [1, 2, 3, 4, 5, 8, 9]        [1, 1, 2, 1, 3, 1, 1]
39  [2022]         [1, 2, 3, 4, 6, 7, 9]        [3, 8, 2, 4, 1, 1, 1]
40  [2023]                  [3, 4, 7, 9]                 [2, 1, 1, 1]
41  [2025]                          [14]                          [1]
42  [2028]                           [4]                          [1]
43  [2030]     [1, 2, 3, 4, 5, 6, 7, 14]     [5, 5, 9, 5, 1, 1, 2, 1]
44  [2031]                           [4]                          [1]
45  [2032]              [1, 2, 3, 7, 14]              [1, 3, 5, 1, 1]
46  [2034]                          [14]                          [1]
47  [2036]           [1, 2, 3, 4, 6, 14]           [6, 2, 4, 1, 2, 1]
48  [2037]                           [3]                          [1]
49  [2038]                  [1, 4, 6, 7]                 [3, 1, 1, 1]
50  [2041]                          [14]                          [1]
51  [2045]                        [1, 3]                       [1, 2]
52  [3013]                          [14]                          [1]
53  [4001]                          [14]                          [1]
54  [4019]                           [2]                          [1]
55  [4024]                           [3]                          [1]
56  [4031]        [1, 2, 3, 4, 5, 8, 14]        [3, 2, 4, 2, 2, 1, 1]

In [14]:
# calculate according to the formula: ni x lx/li
def cal_ubo(l, n):
    total = 0
    for i in range(len(l)):
        total += n[i] * l[0] / l[i]
    return round(total, 2)

In [15]:
# summarize: ∑ni x lx/li => save to list 
def ubo_final(length, number_transaction):
    ubo = []
    for i in range(len(length)): 
        # ex: len = [2,3,5], num_trans = [1,2,1]
        # i = 0 => len = [2,3,5], num_trans = [1,2,1]
        # i = 1 => len = [3,5], num_trans = [2,1]
        # ...
        ubo.append(cal_ubo(length[i:], number_transaction[i:])) # save result cal_ubo for each i => get maxUBO
    return ubo

In [16]:
# get max from summarize => save max value in UBO by key
def calculate_maxUBO(df_UBO):
    df_UBO['List_UBO'] = None # create new column
    df_UBO['Max_UBO'] = None # create new column
    for index, row in df_UBO.iterrows():
        length = row['l_item'] #get list of len(Tid) containing unique item
        number_transaction = row['n_item'] # count unique len(Tid) in occupancy_list
        
        ubo = ubo_final(length, number_transaction) # get list of UBO by i. ex: [2.73, 2.6, 1.0]
        max_ubo = max(ubo) # max list of UBO
        
        df_UBO.at[index, 'List_UBO'] = ubo # save result in df
        df_UBO.at[index, 'Max_UBO'] = max_ubo # save result in df
        
    return df_UBO

In [17]:
# UBO calculation methods: main function
def cal_UBO(df_occupancy_list): 
    df_UBO = df_prepare_UBO(df_occupancy_list)    
    df_UBO = calculate_maxUBO(df_UBO)
    return df_UBO

In [18]:
df_UBO = cal_UBO(df_occupancy_list)
df_UBO

,Items,l_item,n_item,List_UBO,Max_UBO
0,[1001],"[1, 2, 3, 4]","[1, 1, 2, 1]","[2.42, 2.83, 2.75, 1.0]",2.83
1,[1002],"[1, 2, 3, 4, 5, 6, 7, 9, 14]","[1, 1, 1, 1, 3, 1, 1, 1, 1]","[3.18, 4.35, 5.03, 5.37, 5.46, 2.95, 2.28, 1.6...",5.46
2,[1003],"[3, 4]","[1, 1]","[1.75, 1.0]",1.75
3,[1004],[4],[2],[2.0],2
4,[1007],"[3, 4]","[1, 1]","[1.75, 1.0]",1.75
5,[1008],"[1, 3, 4, 6, 7, 9]","[1, 1, 1, 1, 1, 1]","[2.0, 3.01, 2.68, 2.52, 1.78, 1.0]",3.01
6,[1012],[4],[1],[1.0],1
7,[1014],[3],[1],[1.0],1
8,[1017],"[1, 4, 7]","[1, 1, 1]","[1.39, 1.57, 1.0]",1.57
9,[1021],"[1, 4, 14]","[1, 2, 1]","[1.57, 2.29, 1.0]",2.29
10,[1027],"[8, 9]","[1, 1]","[1.89, 1.0]",1.89
11,[1031],[2],[1],[1.0],1
12,[1032],"[2, 3, 4, 8]","[2, 4, 2, 1]","[5.92, 5.88, 2.5, 1.0]",5.92
13,[1033],"[2, 4, 6, 8, 9]","[2, 1, 1, 1, 1]","[3.31, 2.61, 2.42, 1.89, 1.0]",3.31
14,[1034],"[3, 5, 7]","[1, 1, 1]","[2.03, 1.71, 1.0]",2.03
15,[1037],"[1, 2, 3, 4, 8]","[1, 1, 2, 2, 1]","[2.79, 3.58, 3.88, 2.5, 1.0]",3.88
16,[1054],"[3, 4, 5, 6]","[1, 2, 1, 1]","[3.6, 3.47, 1.83, 1.0]",3.6
17,[1058],"[3, 5, 8]","[1, 1, 1]","[1.98, 1.62, 1.0]",1.98
18,[1063],"[2, 4, 7]","[1, 1, 1]","[1.79, 1.57, 1.0]",1.79
19,[1064],"[3, 4, 5, 8]","[2, 1, 1, 1]","[3.73, 2.3, 1.62, 1.0]",3.73
20,[1066],[3],[1],[1.0],1
21,[1071],"[3, 4, 5]","[3, 3, 1]","[5.85, 3.8, 1.0]",5.85
22,[1073],"[2, 3, 9]","[1, 1, 1]","[1.89, 1.33, 1.0]",1.89
23,[1076],[6],[2],[2.0],2
24,[1077],"[2, 3, 5]","[2, 2, 2]","[4.13, 3.2, 2.0]",4.13
25,[1078],[6],[1],[1.0],1
26,[1079],"[2, 3, 4]","[1, 2, 1]","[2.83, 2.75, 1.0]",2.83
27,[1080],[5],[1],[1.0],1
28,[1099],"[3, 6, 14]","[1, 1, 1]","[1.71, 1.43, 1.0]",1.71
29,[1109],"[2, 3, 5, 6]","[1, 1, 1, 1]","[2.4, 2.1, 1.83, 1.0]",2.4
30,[1111],"[4, 5, 6]","[2, 1, 1]","[3.47, 1.83, 1.0]",3.47
31,[1123],"[3, 4]","[1, 1]","[1.75, 1.0]",1.75
32,[1203],[4],[2],[2.0],2
33,[2002],"[2, 4, 9, 14]","[1, 1, 1, 1]","[1.87, 1.73, 1.64, 1.0]",1.87
34,[2003],"[2, 3, 7]","[1, 2, 1]","[2.62, 2.43, 1.0]",2.62
35,[2004],[6],[1],[1.0],1
36,[2005],"[2, 3, 7]","[2, 3, 1]","[4.29, 3.43, 1.0]",4.29
37,[2010],"[1, 2, 3, 4, 5, 6, 7, 14]","[1, 2, 8, 1, 1, 2, 1, 1]","[5.66, 9.33, 10.99, 3.99, 3.74, 3.29, 1.5, 1.0]",10.99
38,[2021],"[1, 2, 3, 4, 5, 8, 9]","[1, 1, 2, 1, 3, 1, 1]","[3.25, 4.51, 5.26, 4.34, 4.18, 1.89, 1.0]",5.26
39,[2022],"[1, 2, 3, 4, 6, 7, 9]","[3, 8, 2, 4, 1, 1, 1]","[9.09, 12.17, 6.26, 5.68, 2.52, 1.78, 1.0]",12.17
40,[2023],"[3, 4, 7, 9]","[2, 1, 1, 1]","[3.51, 2.02, 1.78, 1.0]",3.51
41,[2025],[14],[1],[1.0],1
42,[2028],[4],[1],[1.0],1
43,[2030],"[1, 2, 3, 4, 5, 6, 7, 14]","[5, 5, 9, 5, 1, 1, 2, 1]","[12.47, 14.95, 14.92, 7.9, 3.62, 3.14, 2.5, 1.0]",14.95
44,[2031],[4],[1],[1.0],1
45,[2032],"[1, 2, 3, 7, 14]","[1, 3, 5, 1, 1]","[4.38, 6.76, 5.64, 1.5, 1.0]",6.76
46,[2034],[14],[1],[1.0],1
47,[2036],"[1, 2, 3, 4, 6, 14]","[6, 2, 4, 1, 2, 1]","[8.99, 5.98, 5.96, 2.62, 2.43, 1.0]",8.99
48,[2037],[3],[1],[1.0],1
49,[2038],"[1, 4, 6, 7]","[3, 1, 1, 1]","[3.56, 2.24, 1.86, 1.0]",3.56
50,[2041],[14],[1],[1.0],1
51,[2045],"[1, 3]","[1, 2]","[1.67, 2.0]",2
52,[3013],[14],[1],[1.0],1
53,[4001],[14],[1],[1.0],1
54,[4019],[2],[1],[1.0],1
55,[4024],[3],[1],[1.0],1
56,[4031],"[1, 2, 3, 4, 5, 8, 14]","[3, 2, 4, 2, 2, 1, 1]","[6.43, 6.86, 7.29, 4.39, 2.98, 1.57, 1.0]",7.29

In [19]:
# runtime
def runtime():
    start_time = time.time()
    end_time = time.time()
    execution_time = end_time - start_time
    print(f"Execution time: {execution_time} seconds")

In [20]:
# the index, support, occupancy and UBO of each itemset
def itemset_info(df_occupancy, df_support, df_UBO):
    df_occupancy_exploded = df_occupancy.explode('Items')
    df_support_exploded = df_support.explode('Items')
    df_UBO_exploded = df_UBO.explode('Items')
    merge_df = df_support_exploded[['Items', 'Support']].merge(df_occupancy_exploded[['Items', 'Occupancy']], on = "Items").\
        merge(df_UBO_exploded[['Items', 'Max_UBO']], on = "Items")
    merge_df['Items'] = merge_df['Items'].apply(lambda x: [x]) 
    
    return merge_df

In [21]:
df_itemset_info = itemset_info(df_occupancy, df_support, df_UBO)
df_itemset_info

     Items  Support  Occupancy Max_UBO
0   [1001]        5       2.42    2.83
1   [1002]       11       3.18    5.46
2   [1003]        2       0.58    1.75
3   [1004]        2       0.50       2
4   [1007]        2       0.58    1.75
5   [1008]        6       2.00    3.01
6   [1012]        1       0.25       1
7   [1014]        1       0.33       1
8   [1017]        3       1.39    1.57
9   [1021]        4       1.57    2.29
10  [1027]        2       0.24    1.89
11  [1031]        1       0.50       1
12  [1032]        9       2.96    5.92
13  [1033]        6       1.65    3.31
14  [1034]        3       0.68    2.03
15  [1037]        7       2.79    3.88
16  [1054]        5       1.20     3.6
17  [1058]        3       0.66    1.98
18  [1063]        3       0.89    1.79
19  [1064]        5       1.24    3.73
20  [1066]        1       0.33       1
21  [1071]        7       1.95    5.85
22  [1073]        3       0.94    1.89
23  [1076]        2       0.33       2
24  [1077]        6       2.07    4.13
25  [1078]        1       0.17       1
26  [1079]        4       1.42    2.83
27  [1080]        1       0.20       1
28  [1099]        3       0.57    1.71
29  [1109]        4       1.20     2.4
30  [1111]        4       0.87    3.47
31  [1123]        2       0.58    1.75
32  [1203]        2       0.50       2
33  [2002]        4       0.93    1.87
34  [2003]        4       1.31    2.62
35  [2004]        1       0.17       1
36  [2005]        6       2.14    4.29
37  [2010]       17       5.66   10.99
38  [2021]       10       3.25    5.26
39  [2022]       20       9.09   12.17
40  [2023]        5       1.17    3.51
41  [2025]        1       0.07       1
42  [2028]        1       0.25       1
43  [2030]       29      12.47   14.95
44  [2031]        1       0.25       1
45  [2032]       11       4.38    6.76
46  [2034]        1       0.07       1
47  [2036]       16       8.99    8.99
48  [2037]        1       0.33       1
49  [2038]        6       3.56    3.56
50  [2041]        1       0.07       1
51  [2045]        3       1.67       2
52  [3013]        1       0.07       1
53  [4001]        1       0.07       1
54  [4019]        1       0.50       1
55  [4024]        1       0.33       1
56  [4031]       15       6.43    7.29

In [22]:
def df_intersection(items1, items2, df_occupancy_list):    
    df = pd.DataFrame(columns=['Items', 'Occupancy_list'])
    set1 = set(items1)
    set2 = set(items2)
    list_1_item = sorted(list(set1 | set2))
    
    list_occupancy_1_item = []
    
    for i in list_1_item:
        list_occupancy_1_item.append(df_occupancy_list[df_occupancy_list['Items'].apply(lambda item: i in item)]["Occupancy_list"].iloc[0])
        
    intersection_list = set(list_occupancy_1_item[0])
    for sublist in list_occupancy_1_item[1:]:
        intersection_list = intersection_list.intersection(sublist)

    intersection_list = sorted(intersection_list, key = lambda x: x[0])
    
    df = df.append({'Items': list_1_item, 'Occupancy_list': intersection_list}, ignore_index=True)

    return df

In [23]:
def hep_algorithm(threshold, len_df, df_itemset_info, df_occupancy_list):
    threshold = threshold * len_df # ex: threshold = 25% of len(database)
    C1 = []
    HO1 = []
    
    for index, row in df_itemset_info.iterrows():
        items = row['Items'] # 1-itemset in row
        support = row['Support'] # support of 1-itemset
        occupancy = row['Occupancy'] # occuopancy of 1-itemset
        max_ubo = row['Max_UBO'] # max_ubo of 1-itemset
        
        if support >= threshold:
            if max_ubo >= threshold:
                # C1.add(frozenset(items)) # candidate 1-itemset => use item for C1 to create k-itemset (k = 2, k += 1 for each loop)
                C1.append(items)
            if occupancy >= threshold:
                # HO1.add(frozenset(items)) # High Occupancy 1-itemset.
                HO1.append(items)

    # return C1, HO1
    
    # Generate Ck and HOk
    k = 2
    Ck_1 = C1
    HOk = HO1
    
    while Ck_1:
        Ck = []
        for i in range(len(Ck_1)):
            for j in range(i+1, len(Ck_1)):
                if len(set(Ck_1[i]) & set(Ck_1[j])) == k - 2: # # C1 = {{'a'},{'b'},{'c'},{'d'},{'e'}}
                    # P = set(set(Ck_1[i]).union(set(Ck_1[j])))
                    # print(P)
                    P_occupancy_list = df_intersection(Ck_1[i], Ck_1[j], df_occupancy_list)
                    p_items = P_occupancy_list['Items'].iloc[0]
                    if p_items in HOk:
                        continue
                    # if any(p_items == item for item in HOk):
                    #     continue
                    p_ubo = 0
                    try:
                        p_ubo = cal_UBO(P_occupancy_list)['Max_UBO'].iloc[0]
                    except ValueError:
                        # p_ubo = 0
                        continue
                    p_occupancy = cal_occupancy(P_occupancy_list)['Occupancy'].iloc[0]
                    if p_ubo >= threshold:
                        Ck.append(p_items)
                        if p_occupancy >= threshold:
                            HOk.append(p_items)
        k += 1
        Ck_1 = Ck
        
    # Return the set of all high occupancy itemsets
    # HO_Set = HOk
    # for itemsets in HOk:
    #     HO_Set.append(itemsets)
    
    return HOk

In [26]:
threshold = 0.01
HO_Set = hep_algorithm(threshold, len_df, df_itemset_info, df_occupancy_list)
for i in HO_Set:
    print(i)
print(len(HO_Set))
runtime()

KeyboardInterrupt: